@body-bg: #F8F8FF;
@text-color: black;
@main-color: #ed6e3f;
@second-color: white;

@grid-gutter-width: 20px;

@font-family-base: Arial, 'Helvetica Neue', Helvetica, sans-serif;
@font-size-base: 13px; 

@border-shadow-color: #d9d4d4;
@base-shadow-radius: 5px;
@base-border-raduis: 4px;

@nav-link-padding: 15px 10px;
@nav-link-hover-bg: @main-color;
@nav-pills-border-radius: 0px;

@navbar-height: 40px;

@badge-bg: @main-color;
@badge-color: @second-color;
