@import"variables.less";
 .wallet_popup {
    &:extend(.modal);
    top:30px;
    position: fixed;
    .modal-content {
        .modal-header {
            margin: 10px 10px 0;
            padding :0 0 10px;
            text-align: center;
            color: @modal-text-title-color;
            border-bottom:dotted 1px @payment-caption-text-color;
        }
        .modal-body {
            height: 420px;
            /*overflow-y: scroll;*/
            padding-top: 0;
            h4, h3 {
                text-align: center;
                color: @modal-text-title-color;
                font-size: 16px;
            }

            h3 {
                font-size: 20px;
            }
        }
    }
}

/*horisontal block with payment methods*/
.pay_methods {
    width: 100%;
    display: table;
    
    .pay_methods_list {
        display: table-row;
        
        .pay_item {
            height: 60px;
            display: table-cell;
            
            .payment_info {
                padding: 15px 0;
                width: 90%;
                margin: 5px auto;
                height: 130px;
                border: 2px solid white;
                border-radius:4px;

                &:hover {
                    border: 2px solid @pay-border-color;
                    cursor: pointer;
                }
                
                .pic {
                    margin: 0 auto;
                    display: block;
                    width: @payment-pic-width;
                    height: 64px;
                    background-image: url('../img/sprite-payments-all.png');
                    background-repeat: no-repeat;
                    
                    &.bank-card {
                        background-position: -10px -60px;
                    }

                    &.sms {
                        background-position: -119px -60px;
                    }
                    &.yandex {
                        background-position:-225px -60px;
                    }
                    &.qiwi {
                        background-position:-336px -60px;
                    }
                    &.webmoney {
                        background-position:-446px -60px;
                    }
                    &.other {
                        background-position:-560px -60px;
                    }
                }
                
                .caption {
                    font-size: 12px;
                    color: @payment-caption-text-color;
                    margin: 8px auto 0px;
                    width: @payment-pic-width;
                    display: block;
                    text-align: center;
                }
            }
        }
    }
}

.payment_switchable_wrapper {
    height: 220px;
}

.coins_picker {
    padding-top: 20px;
}

.payment {
    width: 45%;
    height: 184px;
    border: 8px @pay-border-color solid; 
    border-radius: 10px;

    ul {
        padding: 10px;

        li {
            margin: 0px;
            width: 95%;
            height: 38px;
            line-height: 38px;
            list-style-type: none;
            border-radius: 2px;
            text-align: right;
            
            .price {
                background: @icon-money-orange no-repeat 5px 50%;
                &:extend(.pull-left);
                padding-left: 30px;
                color: @modal-orange-dark;
                font-size: 24px;
                font-weight: bold;
            }
            
            &:hover, &:active, &.active {
                background-color: @gray-lighter;
                cursor: pointer;

                &:after {
                    .Arrow(10px, 19px, @gray-lighter);

                }
            }

            .free {
                display: inline-block;
                color:  @dark-grey-color;
                height: 38px;
                padding-left: 20px;
                background: @icon-money-grey no-repeat 0px 50%;
            }
        }
    }
}

.total_wrapper {
    &:extend(.pull-right);
    width: 50%;

    .amount {
        padding-bottom: 10px;
        margin-bottom: 10px;
        &:extend(.center-block);
        font-size: 13px;
        color: @dark-grey-color;
        text-align: center;
        width: 100%;
        border-bottom: 1px solid  @modal-text-title-color;
    }

    .preceed {
        &:extend(.btn);
        &:extend(.btn-large);
        &:extend(.btn-success);
        &:extend(.center-block);
        width: 120px;
    }
}